<style>
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.education {
  background-color: #2e6da4 !important;
}
.timeline-badge.work {
  background-color: #333333 !important;
}
.timeline-badge.skills {
  background-color: #f0ad4e !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
</style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<div id="about-banner" style="background-image: url(<%- theme.about.banner %>)"></div>
<div class="author">
  <div class="head">
    <img src="<%- theme.about.avatar %>" />
  </div>
  <h3><%- config.author %></h3>
  <% if (typeof(theme.about.description) === 'object') { %>
    <% for (var i in theme.about.description) { %>
      <p class="description">
        <%- theme.about.description[i] %>
      </p>
    <% } %>
  <% } else { %>
    <p class="description"><%- theme.about.description %></p>
  <% } %>
  <section class="share-icons">
    <% if (theme.about.weibo_username) { %>
      <a class="icon-weibo" href="http://weibo.com/<%- theme.about.weibo_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.about.twitter_username) { %>
      <a class="icon-twitter" href="https://twitter.com/<%- theme.about.twitter_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.about.github_username) { %>
      <a class="icon-github" href="https://github.com/<%- theme.about.github_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.about.linkedin_username) { %>
      <a class="icon-linkedin" href="https://www.linkedin.com/in/<%- theme.about.linkedin_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    <% } %>
    <% if (theme.about.zhihu_username) { %>
      <a class="icon-zhihu" href="https://www.zhihu.com/people/<%- theme.about.zhihu_username %>" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-stack-1x fa-inverse">知</i>
        </span>
      </a>
    <% } %>
    <% if (theme.about.douban_username) { %>
        <a class="icon-douban" href="https://www.douban.com/people/<%- theme.about.douban_username %>" target="_blank">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-stack-1x fa-inverse">豆</i>
            </span>
        </a>
    <% } %>
  </section>

  <section>
<div class="container">
  <div class="page-header">
  </div>

<ul class="timeline">
      <li class="timeline-inverted">
        <div class="timeline-badge work"><i class="fa fa-briefcase"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">FORT LP</h4>
            <h5 class="timeline-title">Apr 2017 - Present</h5>
          </div>
          <div class="timeline-body">
            <p>Associate: Portfolio & Risk Analytics</p>
          </div>
        </div>
      </li>
        <li class="timeline-inverted">
        <div class="timeline-badge work"><i class="fa fa-briefcase"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">GIC</h4>
            <h5 class="timeline-title">Jun 2016 - Aug 2016</h5>
          </div>
          <div class="timeline-body">
            <p>Intern: Credit Research & Strategy</p>
          </div>
        </div>
      </li>
       <li class="timeline-inverted">
        <div class="timeline-badge work"><i class="fa fa-briefcase"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Proxy Mosaic</h4>
            <h5 class="timeline-title">Jan 2016 - Feb 2016</h5>
          </div>
          <div class="timeline-body">
            <p>Intern: Activist Investment Research</p>
          </div>
        </div>
      </li>
     <li>
        <div class="timeline-badge education"><i class="fa fa-graduation-cap"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Columbia University</h4>
            <h5 class="timeline-title">Aug 2015 - Jan 2017</h5>
          </div>
          <div class="timeline-body">
            <p>MS Financial Engineering.</p>
          </div>
        </div>
      </li>
      <li class="timeline">
        <div class="timeline-badge education"><i class="fa fa-graduation-cap"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Imperial College London</h4>
            <h5 class="timeline-title">Sep 2012 - Jun 2015</h5>
          </div>
          <div class="timeline-body">
            <p>BSc Mathematics</p>
          </div>
        </div>
      </li>

  </ul>
</div>

  </section>

</div>


<script>
  (function () {
    $('.header').removeClass('fixed-header')
    var windowH = $(window).height();
    var author = $('.author')
    var bodyH = author.offset().top + author[0].offsetHeight + 71;
    if (bodyH < windowH) {
      author.css({
        'margin-bottom': windowH - bodyH
      })
    }
  })();
</script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
